body {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.section #nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left_nav a {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.left_nav a:hover {
  text-decoration: underline;
}

.right_nav a {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.right_nav a:hover {
  text-decoration: underline;
}